*.[568]
*.a
*.aff
*.bak
*.cabal
*.class
*.dic
*.dll
*.exe
*.jar
*.ld
*.ldx
*.li
*.lix
*.o
*.obj
*.odt
*.py[co]
*.rs.bk
*.so
*.sw[nop]
*.tmp
*.xix
*~
.#*
.*.swp
.dub/
.hg/
.hgignore
.hgtags
.stack-work/
.wcignore
.~lock.*.odt*
GPLv3.txt
Makefile
Qrc.py
[#]*#
__pycache__
build/*
dist/*
doc/*.html
doc/images/*.png
dub.selections.json
eg/*
gpl-[0-9].[0-9].txt
images/*.ico
images/*.png
info/*
louti[0-9]*
misc/*
moc_*.cpp
nimcache
qrc_*.cpp
tags
target/
test.*
ui_*.h
